@media (max-width: 1200px) {
    .aside {
        left: -270px;
    }
    .menu {
        display: block !important;
    }
    .main-content {
        padding-left: 0;
    }
    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}
@media (max-width: 990px) {
    .portfolio .portfolio-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width:768px) {
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .personal-info,
    .about .skills,
    .about .about-content .education, 
    .about .about-content .experience {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about .about-content .personal-info .buttons {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    
}
@media (max-width:576px) {
    .contact .contact-form .col-6,
    .contact .contact-info-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}